<template>
  <q-page class="flex flex-center">
    <img src="http://pngimg.com/uploads/star_wars_logo/star_wars_logo_PNG20.png" alt="Star Wars Logo" width='300px'>
    <form @submit.prevent='pedirPersonajes ()'>
      <q-select
        v-model="selectedEntity"
        float-label='Select content type'
        :options="entitySelectOptions"
        dark
      />
      <q-input v-model="query" dark />
      <q-btn label='Buscar' color='yellow-6' @on='pedirPersonajes ()'/>
      <div v-if='items.length > 0'>
        <q-card color='white' v-for='(item,index) in items' :key='index' id='hola'>
          <q-card-title>
            {{ item.name }}
            {{ item.title }}
          </q-card-title>
          <q-card-separator></q-card-separator>
          <q-card-main>
            Height: {{item.height}}
            Eye Color: {{item.eye_color}}
            Hair Color: {{item.hair_color}}
            Birth Year: {{item.birth_year}}
          </q-card-main>
        </q-card>
      </div>
    </form>
  </q-page>
</template>

<style>
#hola{
  float: left;
}
body{
  background-color: black;
}
div.q-card-title, div.q-card-container, div.q-card-main{
  padding: 5px;
  color: black;
}
.q-card{
  background-color: black;
  border: 2px solid #ffd700;
  padding: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-right: 5px;
  margin-right: 5px;
  margin-top: 5px;
}
</style>

<script>
export default {
  data () {
    return {
      items: [],
      query: null,
      selectedEntity: 'people',
      entitySelectOptions: [
        {
          label: 'Películas',
          value: 'films'
        },
        {
          label: 'Personajes',
          value: 'people'
        },
        {
          label: 'Planetas',
          value: 'planets'
        },
        {
          label: 'Especies',
          value: 'species'
        },
        {
          label: 'Naves',
          value: 'starships'
        },
        {
          label: 'Vehículos',
          value: 'vehicles'
        }
      ]
    }
  },
  methods: {
    pedirPersonajes () {
      const entity = this.selectedEntity
      const query = this.query
      const url = 'https://swapi.co/api/' + entity + '/?search=' + query
      this.$axios.get(url)
        .then((res) => {
          this.items = res.data.results
          console.log(res.data.results)
        })
        .catch((error) => {
          console.log('Algo malo pasó', error)
        })
    }
  }
}
</script>
